amqp==5.2.0
asgiref==3.6.0
asyncio==3.4.3
attrs==23.2.0
beautifulsoup4==4.12.0
billiard==4.2.0
blinker==1.6.2
boto3==1.34.54
botocore==1.34.54
bs4==0.0.1
celery==5.3.6
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.3.2
cryptography==40.0.2
distlib==0.3.6
Django==4.1.7
django-ckeditor==6.5.1
django-cors-headers==3.14.0
django-crontab==0.7.1
django-embed-video==1.4.9
django-js-asset==2.0.0
django-restframework==0.0.1
django-smtp-ssl==1.0
django-storages==1.14.2
djangorestframework==3.14.0
et-xmlfile==1.1.0
filelock==3.12.0
Flask==3.0.0
fontawesomefree==6.2.0
git-filter-repo==2.38.0
googlemaps==4.10.0
gravityai==0.1.4.post2
gunicorn==22.0.0
h11==0.14.0
html5lib==1.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
kombu==5.3.4
MarkupSafe==2.1.3
MouseInfo==0.1.3
numpy==1.26.1
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==24.0
pandas==2.1.2
pathlib==1.0.1
Pillow==9.5.0
pipenv==2023.4.29
platformdirs==3.5.0
prompt-toolkit==3.0.43
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
PyJWT==2.6.0
PyMsgBox==1.0.9
pynput==1.7.6
pyobjc-core==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-Quartz==10.1
pyotp==2.9.0
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dateutil==2.8.2
pytweening==1.0.7
pytz==2021.3
pywhatkit==5.4
requests==2.28.2
rubicon-objc==0.4.7
s3transfer==0.10.0
scikit-learn==1.3.2
scipy==1.11.4
selenium==4.16.0
six==1.16.0
sklearn==0.0.post11
slugify==0.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
stripe==9.7.0
tabulate==0.8.10
threadpoolctl==3.2.0
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.11.0
tzdata==2023.3
urllib3==1.26.8
vine==5.1.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
wcwidth==0.2.13
webencodings==0.5.1
websockets==10.4
Werkzeug==3.0.0
whitenoise==6.0.0
wikipedia==1.4.0
wsproto==1.2.0
