<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Created and Pending Approval</title>
</head>
<body>
    <p>Dear {{ customer_name }},</p>
    <p>Your listing is still available.</p>
    <p>You can view your listing details on your dashboard by clicking the button below:</p>
    <a href="{{ dashboard_link }}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none;">View Listing</a>
    <p>Also we highly recommend you use the buttons to decrease the price to increase the chances of selling your item.</p>
    <p>Thank you for using Trade My Spin!</p>
</body>
</html>
